In [31]:
import time
from faker import Faker

fake = Faker()

In [32]:
N = 500 # 用户量

In [33]:


# 密码为 root
model = """INSERT INTO `user` (`id`, `created_at`, `updated_at`, `user_id`, `user_name`, `nick_name`, `email`, `password`, `about_me`, `birthday`) VALUES ('%s', '%s', '%s', '%s', '%s', '%s', '%s', '$2a$10$09Wx5TZRcWyFJnSv8pr6xegAHG3mZE48eUkust9znC0JqNiK3YQeO', '%s', null);
"""

sql = ""

for i in range(N):
    user_id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    user_name = fake.user_name()
    nick_name = fake.name()
    email = fake.email()
    about_me = fake.sentence()

    sql += model % (
        user_id,
        created_at,
        updated_at,
        user_id,
        user_name,
        nick_name,
        email,
        about_me,
    )
# 写入文件 generate_data.sql
with open("generate_data.sql", "w") as f:
    f.write(sql)

In [34]:



model = """INSERT INTO `post` (`id`, `created_at`, `updated_at`, `post_id`, `title`, `abstract`, `content`, `author_id`, `status`) VALUES ('%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', 'publish');
"""

sql = ""

for i in range(N*2):
    id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    title = fake.name()
    abstract = fake.sentence()
    content = fake.text()
    author_id = fake.random_int(min=1, max=N)

    sql += model % (
        id,
        created_at,
        updated_at,
        id,
        title,
        abstract,
        content,
        author_id,
    )

# 追加写入文件 generate_data.sql
with open("generate_data.sql", "a") as f:
    f.write(sql)

In [35]:
model = """INSERT INTO `interaction` (`id`, `created_at`, `updated_at`, `biz_id`, `biz`, `read_cnt`, `like_cnt`, `collect_cnt`) VALUES ('%s', '%s', '%s', %s, 'post', %s, %s, %s);
"""

sql = ""

for i in range(N):
    id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    biz_id = fake.random_int(min=1, max=N*2)
    read_cnt = fake.random_int(min=1, max=N*10)
    like_cnt = fake.random_int(min=1, max=N)
    collect_cnt = fake.random_int(min=1, max=N)

    sql += model % (
        id,
        created_at,
        updated_at,
        biz_id,
        read_cnt,
        like_cnt,
        collect_cnt,
    )

# 追加写入文件 generate_data.sql
with open("generate_data.sql", "a") as f:
    f.write(sql)

In [36]:
model = """INSERT INTO `user_collect` (`id`, `created_at`, `updated_at`, `user_id`, `biz_id`, `biz`, `collection_id`, `status`) VALUES (%s, '%s', '%s', %s, %s, 'post', 0, 1);
"""
sql = ""

collect = {}

for i in range(N):
    id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    user_id = fake.random_int(min=1, max=N)
    biz_id = fake.random_int(min=1, max=N*2)

    if (user_id, biz_id) in collect:
        continue
    collect.update({(user_id, biz_id): 1})
    
    sql += model % (
        id,
        created_at,
        updated_at,
        user_id,
        biz_id,
    )

# 追加写入文件 generate_data.sql
with open("generate_data.sql", "a") as f:
    f.write(sql)

In [37]:
model = """INSERT INTO `user_like` (`id`, `created_at`, `updated_at`, `user_id`, `biz_id`, `biz`, `status`) VALUES (%s, '%s', '%s', %s, %s, 'post', 1);
"""

sql = ""

collect = {}

for i in range(N):
    id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    user_id = fake.random_int(min=1, max=N)
    biz_id = fake.random_int(min=1, max=N*2)
    if (user_id, biz_id) in collect:
        continue
    collect.update({(user_id, biz_id): 1})

    sql += model % (
        id,
        created_at,
        updated_at,
        user_id,
        biz_id,
    )

# 追加写入文件 generate_data.sql
with open("generate_data.sql", "a") as f:
    f.write(sql)

In [38]:
model = """INSERT INTO `relation` (`id`, `created_at`, `updated_at`, `relation_id`, `followee`, `follower`, `status`) VALUES (%d, %d, %d, %d, %d, %d, true);
"""

sql = ""

collect = {}

for i in range(N):
    id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    followee = fake.random_int(min=1, max=N)
    follower = fake.random_int(min=1, max=N)
    if (followee, follower) in collect:
        continue
    collect.update({(followee, follower): 1})

    sql += model % (
        id,
        created_at,
        updated_at,
        id,
        followee,
        follower,
    )

# 创建3个大V用户 1 2 3
for i in range(3):
    id = i + 1
    created_at = int(time.time())
    updated_at = int(time.time())
    followee = id
    for j in range (N):
        follower = j + 1
        if (followee, follower) in collect:
            continue
        collect.update({(followee, follower): 1})
        sql += model % (
            id,
            created_at,
            updated_at,
            id,
            followee,
            follower,
     )

# 追加写入文件 generate_data.sql
with open("generate_data.sql", "a") as f:
    f.write(sql)

In [39]:
sql = """INSERT INTO `go-backend`.tag (id, created_at, updated_at, tag_id, user_id, tag_name) VALUES (1, '1722094906', '1722094906', 184614678431797248, 181424931144208384, 'Golang');
INSERT INTO `go-backend`.tag (id, created_at, updated_at, tag_id, user_id, tag_name) VALUES (2, '1722094906', '1722094906', 184614704025440256, 181424931144208384, 'Java');
INSERT INTO `go-backend`.tag (id, created_at, updated_at, tag_id, user_id, tag_name) VALUES (3, '1722094906', '1722094906', 184614731443605504, 181424931144208384, 'Php');
INSERT INTO `go-backend`.tag (id, created_at, updated_at, tag_id, user_id, tag_name) VALUES (4, '1722094906', '1722094906', 184614764402446336, 181424931144208384, 'Python');
INSERT INTO `go-backend`.tag (id, created_at, updated_at, tag_id, user_id, tag_name) VALUES (5, '1722094906', '1722094906', 184614779258671104, 181424931144208384, 'Rust');
"""

# 追加写入文件 generate_data.sql
with open("generate_data.sql", "a") as f:
    f.write(sql)

In [40]:
# model = """
# INSERT INTO `comment` (`id`, `created_at`, `updated_at`, `comment_id`, `user_id`, `biz`, `biz_id`, `root_id`, `parent_id`, `content`) VALUES ('1', '1722094906', '1722094906', '182068922726486016', '181424931144208384', 'post', '181425015638462464', null, null, 'I am Root Comment');
# INSERT INTO `comment` (`id`, `created_at`, `updated_at`, `comment_id`, `user_id`, `biz`, `biz_id`, `root_id`, `parent_id`, `content`) VALUES ('2', '1722094906', '1722094906', '182068981903921152', '181424931144208384', 'post', '181425015638462464', '1', '1', 'child comment 1');
# INSERT INTO `comment` (`id`, `created_at`, `updated_at`, `comment_id`, `user_id`, `biz`, `biz_id`, `root_id`, `parent_id`, `content`) VALUES ('3', '1722094906', '1722094906', '182069018746687488', '181424931144208384', 'post', '181425015638462464', '1', '1', 'child comment 2');
# """